DATABASE_URL=postgresql://postgres:session_expired_user@localhost:5432/session_expired
SESSION_SECRET=jsdfvjklnsdfghjklsdfghjklsdfghjksdfgbhjksdfgasdfgasdfgeasdfg
COOKIE_SECURE=false
DATABASE_SSL=false
PORT=3000
HOST=localhost
